html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Just" sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

li {
  padding: 0;
}

.btn--rest {
  border: none;
  background: transparent;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff2);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Optima";
  src: url(../fonts/optima-cyr.woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Montserrat";
}

body.ns {
  overflow-y: hidden;
}

p {
  font-weight: 400;
  color: #484848;
  font-size: 18px;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 139.2%;
  color: #FFFFFF;
}

h2 {
  margin-bottom: 114px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #484848;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #484848;
}

.margin-bottom {
  margin-bottom: 202px;
}

.container {
  margin-left: 135px;
  margin-right: 135px;
}

.small-container {
  margin-left: 165px;
  margin-right: 165px;
}

button {
  font-family: "Montserrat";
  font-style: normal;
}

.pink-button {
  padding: 25px 36px;
  border: none;
  background: #BF7691;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all ease-in-out 0.3s;
}

.pink-button:hover {
  background: #B95F76;
  transition: all ease-in-out 0.3s;
}

.small-container {
  padding: 57px 0px;
}

@media (max-width: 1000px) {
  .small-container {
    margin-left: 70px;
    margin-right: 70px;
  }
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .margin-bottom {
    margin-bottom: 150px;
  }
  h2 {
    margin-bottom: 80px;
    font-size: 35px;
    line-height: 40px;
  }
  h3 {
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-transform: uppercase;
    color: #484848;
  }
}
@media (max-width: 600px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .small-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .margin-bottom {
    margin-bottom: 80px;
  }
  h2 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
  }
  h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #484848;
  }
}
@media (max-width: 450px) {
  .small-container {
    padding: 35px 0px;
  }
  .pink-button {
    padding: 18px 28px;
    font-size: 15px;
    line-height: 20px;
  }
}
.banner {
  position: relative;
}

.banner-logo__wrapper {
  width: 26%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner__descr {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 139.2%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
}

.banner__wrapper--right {
  width: 26%;
  position: absolute;
  bottom: 10%;
  right: 17%;
}

.banner-descr__logo {
  font-family: "Optima";
  font-weight: 400;
  font-size: 96px;
  line-height: 142.2%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner-descr__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 50px;
  line-height: 142.2%;
}

.banner-descr__info {
  font-weight: 400;
  font-size: 30px;
  line-height: 142.2%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: rgba(229, 188, 194, 0.6);
}

.swiper-button-prev {
  top: auto;
  bottom: 10%;
  opacity: 0.8;
  color: #FFFFFF;
}

.swiper-button-next {
  top: auto;
  bottom: 10%;
  opacity: 0.8;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .banner__descr {
    font-size: 16px;
  }
}
@media (max-width: 1300px) {
  .banner__wrapper--right {
    width: 26%;
    position: absolute;
    bottom: 10%;
    right: 17%;
  }
  .banner-descr__logo {
    font-size: 80px;
    line-height: 122.2%;
  }
  .banner-descr__title {
    font-size: 45px;
    line-height: 122.2%;
  }
  .banner-descr__info {
    font-weight: 400;
    font-size: 27px;
    line-height: 122.2%;
  }
}
@media (max-width: 1100px) {
  .banner-descr__logo {
    font-size: 60px;
    line-height: 122.2%;
  }
  .banner-descr__title {
    font-size: 35px;
    line-height: 122.2%;
  }
  .banner-descr__info {
    font-size: 22px;
    line-height: 122.2%;
  }
}
@media (max-width: 850px) {
  .banner-descr__logo {
    font-size: 50px;
    line-height: 122.2%;
  }
  .banner-descr__title {
    font-size: 30px;
    line-height: 122.2%;
  }
  .banner-descr__info {
    font-size: 20px;
    line-height: 122.2%;
  }
}
@media (max-width: 650px) {
  .banner-descr__logo {
    font-size: 40px;
    line-height: 100%;
  }
  .banner-descr__title {
    font-weight: 600;
    font-size: 27px;
    line-height: 100%;
  }
  .banner-descr__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }
}
@media (max-width: 600px) {
  .banner__wrapper--right {
    width: 26%;
    position: absolute;
    bottom: 10%;
    right: 30%;
  }
  .banner__descr {
    text-align: center;
    bottom: 18%;
  }
  .banner__wrapper--right {
    bottom: 15%;
  }
}
@media (max-width: 400px) {
  .banner__descr {
    font-size: 14px;
    bottom: 15%;
  }
}
@media (max-width: 450px) {
  .banner-descr__logo {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 10px;
  }
  .banner-descr__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 10px;
  }
  .banner-descr__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }
}
.demo-catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 20px;
}

.demo-catalog__slide {
  position: relative;
  max-width: 418px;
}

.demo-catalog-slide-pink {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  height: 73px;
  width: 100.3%;
  background-color: rgba(229, 188, 194, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0px 0px 10px 10px;
}

.demo-catalog-slide__title {
  position: absolute;
  bottom: 3px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  padding: 25px;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.demo-catalog-slide__img {
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .demo-catalog__wrapper {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .demo-catalog-slide__title {
    font-size: 15px;
    line-height: 24px;
    padding: 15px;
  }
  .demo-catalog-slide-pink {
    height: 53px;
  }
}
@media (max-width: 600px) {
  .demo-catalog__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .demo-catalog-slide-pink {
    width: 278px;
  }
  .demo-catalog-slide__img-wrapper {
    text-align: center;
  }
  .demo-catalog__slide {
    margin: 0 auto;
  }
}
.new__layout {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2" "img3 img3 img3 img3 img4 img4 img4 img4 img4 img4 img4 img4";
  grid-gap: 20px;
}

.new-layout__item-1 {
  grid-area: img1;
}

.new-layout__item-2 {
  grid-area: img2;
}

.new-layout__item-3 {
  grid-area: img3;
}

.new-layout__item-4 {
  grid-area: img4;
}

.new-item__img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-layout__item {
  position: relative;
}

.new-item__title {
  position: absolute;
  bottom: 0;
  left: 0;
}

.new-item__title {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

.new-item__title--black {
  color: #484848;
}

@media (max-width: 650px) {
  .new-item__title {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }
}
.coupon__title {
  margin-bottom: 26px;
}

.bold {
  font-weight: 600;
}

.coupon-container {
  text-align: center;
}

.coupon {
  background-color: #E5EEF3;
  background-image: url(/img/coupon/coupon.png);
  background-repeat: no-repeat;
}

.questions {
  background-color: #F8EFF2;
  padding-bottom: 131px;
}

.accordion__control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 29px 81px;
  background: #FFFFFF;
  border-radius: 10px;
}

.questions__title {
  padding-top: 101px;
}

.accordion:not(:last-child) {
  margin-bottom: 60px;
}

.accordion__content {
  background: rgba(255, 255, 255, 0.5);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 81px;
  will-change: max-height;
  transition: all ease-in-out 0.3s;
  box-sizing: content-box;
}

.open .accordion__content {
  opacity: 1;
  padding: 20px 81px;
  background: rgba(255, 255, 255, 0.5);
  transition: all ease-in-out 0.3s;
}

.accordion__icon {
  transition: all ease-in-out 0.3s;
}

.open .accordion__icon {
  transform: rotate(45deg);
  transition: all ease-in-out 0.3s;
}

.accordion__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

@media (max-width: 650px) {
  .questions {
    background-color: #F8EFF2;
    padding-bottom: 57px;
  }
  .questions__title {
    padding-top: 50px;
  }
  .accordion__text {
    font-size: 16px;
  }
  .accordion__control {
    padding: 25px 45px;
  }
  .accordion__content {
    padding: 0px 45px;
  }
  .open .accordion__content {
    padding: 20px 45px;
  }
  .accordion:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 350px) {
  .questions {
    padding-bottom: 35px;
  }
  .accordion__content {
    padding: 0px 30px;
  }
  .open .accordion__content {
    padding: 20px 30px;
  }
  .accordion__control {
    padding: 25px 30px;
  }
  .accordion:not(:last-child) {
    margin-bottom: 20px;
  }
}
.small-container {
  text-align: center;
}

.answer {
  background-color: #E5EEF3;
}

.answer__title {
  margin-bottom: 13px;
}

.answer__descr {
  margin-bottom: 35px;
}

.footer__title {
  font-weight: 300;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
}

.footer__item:not(:last-child) {
  margin-right: 81px;
}

.footer__social {
  margin-bottom: 65.12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 72.5px;
}

.footer-form__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(77, 77, 77, 0.5);
  text-align: center;
  margin-bottom: 25px;
}

.footer__form {
  text-align: center;
  margin-bottom: 132px;
}

.footer-form__email {
  width: 362px;
  border-radius: 10px;
  padding: 23px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(77, 77, 77, 0.6);
  text-align: center;
  border: solid 1px #4D4D4D;
  margin-right: 37px;
}

#submit {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  padding: 25px 45px;
  border: none;
  background: #BF7691;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all ease-in-out 0.3s;
}

#submit:hover {
  background: #B95F76;
  transition: all ease-in-out 0.3s;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-small {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
}

.footer__copyright-medium {
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
  opacity: 0.8;
}

.footer-copyright__phone {
  text-align: right;
}

@media (max-width: 867px) {
  .footer-form__email {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 850px) {
  .footer__form {
    margin-bottom: 100px;
  }
  .footer__copyright {
    flex-direction: column;
    justify-content: center;
  }
  .footer-copyright__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-copyright__item {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .footer__menu {
    flex-direction: column;
  }
  .footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-social__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer-form__email {
    width: 100%;
  }
  #submit {
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  #submit {
    padding: 20px 30px;
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */