
.banner { 
    position: relative;
}

.banner-logo__wrapper {
    width: 26%;
    // ура, сделали svg пропрциональным
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banner__descr {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.2%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    
}

// styles for 3th slide of banner

.banner__wrapper--right {
    width: 26%;
    // ура, сделали svg пропрциональным
    position: absolute;
    bottom: 10%;
    right: 17%;
}

.banner-descr__logo {
    font-family: 'Optima';
        font-weight: 400;
        font-size: 96px;
        line-height: 142.2%;
        text-transform: uppercase;
        color: #FFFFFF;
}

.banner-descr__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 50px;
    line-height: 142.2%;
}

.banner-descr__info {
font-weight: 400;
    font-size: 30px;
    line-height: 142.2%;
    text-transform: uppercase;
    color: #FFFFFF;
}

// style for swiper

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
bottom: 5%;
}

.swiper-pagination-bullet { 
    background-color: #FFFFFF;
    opacity: 0.8;
}

.swiper-pagination-bullet-active { 
    background: rgba(229, 188, 194, 0.6);
}

.swiper-button-prev {
    top: auto;
    bottom: 10%;
    opacity: 0.8;
    color: #FFFFFF;
}

.swiper-button-next {
    top: auto;
    bottom: 10%;
    opacity: 0.8;
    color: #FFFFFF;
}


// --------
// ADAPTIVE
// --------


// styles for 1th/2nd slide of banner

@media (max-width: 900px) {

.banner__descr {
    font-size: 16px;
}
}


// styles for 3th slide of banner

@media (max-width: 1300px) {

.banner__wrapper--right {
        width: 26%;
        // ура, сделали svg пропрциональным
        position: absolute;
        bottom: 10%;
        right: 17%;
    }

    .banner-descr__logo {
        font-size: 80px;
        line-height: 122.2%;
    }

    .banner-descr__title {
        font-size: 45px;
        line-height: 122.2%;
    }

    .banner-descr__info {
        font-weight: 400;
        font-size: 27px;
        line-height: 122.2%;
    }


}


@media (max-width: 1100px) {

    .banner-descr__logo {
        font-size: 60px;
        line-height: 122.2%;
    }

    .banner-descr__title {
        font-size: 35px;
        line-height: 122.2%;
    }

    .banner-descr__info {
        font-size: 22px;
        line-height: 122.2%;
    }


}

@media (max-width: 850px) {

    .banner-descr__logo {
        font-size: 50px;
        line-height: 122.2%;
    }

    .banner-descr__title {
        font-size: 30px;
        line-height: 122.2%;
    }

    .banner-descr__info {
        font-size: 20px;
        line-height: 122.2%;
    }


}

@media (max-width: 650px) {

    .banner-descr__logo {
        font-size: 40px;
        line-height: 100%;
    }

    .banner-descr__title {
        font-weight: 600;
        font-size: 27px;
        line-height: 100%;
    }

    .banner-descr__info {
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }
}

@media (max-width: 600px) {

.banner__wrapper--right {
        width: 26%;
        // ура, сделали svg пропрциональным
        position: absolute;
        bottom: 10%;
        right: 30%;
    }

.banner__descr {
    text-align: center;
    bottom: 18%;
}

    .banner__wrapper--right {
     bottom: 15%;
}

}

@media (max-width: 400px) {
    .banner__descr {
        font-size: 14px;
        bottom: 15%;
    }
}

@media (max-width: 450px) {

    
    .banner-descr__logo {
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .banner-descr__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .banner-descr__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
    }
}

