

.catalog__main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.catalog__sidebar {
    width: 249px;
    margin-right: 48px;
}

.catalog-sidebar__title {
    text-align: left;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 65px;
}

.catalog-sidebar__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4D4D4D;
    cursor: pointer;
}

.catalog-sidebar__item {
    margin-bottom: 35px;
}

.products-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
    row-gap: 20px;
    column-gap: 22px;
}

.products-item {
    text-align: center;
    max-width: 277px;
    margin-bottom: 37px;
}

.product-element__name {
    margin-bottom: 3px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4D4D;
}

.product-element__img {
    max-width: 277px;
    width: 100%;
}

.product-element__price {
    margin-bottom: 13px;
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #4D4D4D;

}

.product-element__btn {
    background: #BF7691;
    border-radius: 7.67196px;
    font-weight: 500;
    font-size: 12.2751px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 26px;
    text-align: center;
    border: none;
}

.product-element__btn {
    background: #BF7691;
    border-radius: 7.67196px;
    font-weight: 500;
    font-size: 12.2751px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 26px;
    text-align: center;
    border: none;
}

.product-element__btn_active {
    background: #B95F76;
    border-radius: 7.67196px;
    font-weight: 500;
    font-size: 12.2751px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 26px;
    text-align: center;
    border: none;
}

@media (max-width: 800px) {

.catalog-sidebar__nav {
    margin-bottom: 50px;
}

.catalog-sidebar__item {
        margin-bottom: 15px;
}

.catalog__main {
        display: block;
    }

.catalog__sidebar {
    width: 100%;
    margin-right: 0px;
}

.catalog-sidebar__nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 15px;
}


.catalog-sidebar__link {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background-color: #BF7691;
    padding: 11px 17px;
    border-radius: 10px;
    cursor: pointer;
}

.catalog-sidebar__link:hover {
    background-color: #B95F76;
}

.catalog-sidebar__title {
    text-align: center;
}


}

@media (max-width: 535px) {

    .products-container {
    grid-template-columns: 1fr;
    justify-content: center;
    }

    .products-item {
    justify-self: center; 
    }
}

@media (max-width: 475px) {
    .catalog-sidebar__item {
        margin-bottom: 15px;
    }

    .catalog-sidebar__nav {
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: center;
        height: 100px;
    }
}