.coupon__title {
    margin-bottom: 26px;
}

.bold {
    font-weight: 600;
}

.coupon-container {
    text-align: center;
}

.coupon {
    background-color: #E5EEF3;
    background-image: url(/img/coupon/coupon.png);
    background-repeat: no-repeat;
}

// @media (max-width: 1100px) {
//     .coupon__title {
//         font-size: 26px;
//     }
// }

// @media (max-width: 650px) {
//     .coupon__title {
//             font-size: 23px;
//         }

// }

